html, body {
  height: 100%;
  width: 100%;
}


a{color:red;}


.top{
display: flex ;
justify-content: space-between;
}


.z{background-color: red ;
  border-radius: 0px 0px 12px 0px ;
  cursor: pointer;
color: white;}


.y{background-color:#1a1a1a;
  border-radius: 0px 0px 12px 0px ;
  cursor: pointer;
  color: white;
 border:100px;}
.head{background-color:white;
     }


.body{background-color:#fff2f5; }

.social{display: flex;
flex-direction:row;
align:center;
gap: 2px;} 


.v{border: 100px;
 background-color: white; 
  display:border-box;
   margin: 4px ;
   height: 300px;
   border-radius: 0px 0px 12px 0px ;
     }


.semi{background-color: wheat;
     }


.button{margin-top: 20px;
       margin-bottom:20px;
padding:50px;}


.footer {background-color:black;
        }


.x{display: grid;
gap:2px;}


.t{border: 100px;
  background-color: whitesmoke;
 padding:50px;
  display:border-box;
  margin:4px;} 


.u{border: 100px;
  background-color: whitesmoke;
    padding:50px;
  display: border-box ;
  margin: 4px ;}

.copyright{width: 90%;
        border-top: 1px solid white;
        margin: 2rem auto 0 auto;
        padding: 1rem 0 0 0;
        justify-content: center;
    }
Ul{overflow:hidden;}
    li{display:inline-block;"} 

.section1{
display:grid;
grid-template-colum: repeat(2, 1fr);
}

.section2{
display:grid;
grid-template-colum: repeat(2, 1fr);
} 

.v{display:grid;
grid-template-columns:repeat(3, 1fr) ;} 

.x{display:flex;
justify-content:space-between;
} 
.first{width:50px;}
.second{width:50px;} 
.head{width:50px;}
.body{width:50px;}
